src/main/java/com/lg2m/recovery/api/HomeController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://recovery.lg2m.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://recovery.lg2m.com" xmlns:intf="http://recovery.lg2m.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://recovery.lg2m.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="name" type="xsd:string"/>
   <element name="homeReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="homeResponse">

      <wsdl:part element="impl:homeReturn" name="homeReturn"/>

   </wsdl:message>

   <wsdl:message name="homeRequest">

      <wsdl:part element="impl:name" name="name"/>

   </wsdl:message>

   <wsdl:portType name="HomeController">

      <wsdl:operation name="home" parameterOrder="name">

         <wsdl:input message="impl:homeRequest" name="homeRequest"/>

         <wsdl:output message="impl:homeResponse" name="homeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HomeControllerSoapBinding" type="impl:HomeController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="home">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="homeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="homeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HomeControllerService">

      <wsdl:port binding="impl:HomeControllerSoapBinding" name="HomeController">

         <wsdlsoap:address location="http://localhost:8080//services/HomeController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
