src/main/java/com/lg2m/recovery/webservice/HomeWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.recovery.lg2m.com" xmlns:impl="http://webservice.recovery.lg2m.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://webservice.recovery.lg2m.com"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="name" type="xsd:string"/>
            <element name="welcomeReturn" type="xsd:string"/>
        </schema>
    </wsdl:types>

    <wsdl:message name="welcomeRequest">

        <wsdl:part element="impl:name" name="name"/>

    </wsdl:message>

    <wsdl:message name="welcomeResponse">

        <wsdl:part element="impl:welcomeReturn" name="welcomeReturn"/>

    </wsdl:message>

    <wsdl:portType name="HomeWebService">

        <wsdl:operation name="welcome" parameterOrder="name">

            <wsdl:input message="impl:welcomeRequest" name="welcomeRequest"/>

            <wsdl:output message="impl:welcomeResponse" name="welcomeResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="homeSoapBinding" type="impl:HomeWebService">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="welcome">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="welcomeRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="welcomeResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="HomeWebServiceService">

        <wsdl:port binding="impl:homeSoapBinding" name="home">

            <wsdlsoap:address location="http://localhost:8080//services/home"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
